.ExampleGroup {
	stroke-width: 1;
    fill: none;
    transform: 'translate(20,20)';
}

.DefaultRect {
    width: 281px;
    height: 51px;
    fill:#FFFFFF;
    stroke: #BCBCBC;
    x: 0;
    y: 0;
    rx: 10;
    stroke-linejoin: round;
}

.DefaultTextBody {
    font-size: 15;
}

.DefaultTextSpan {
	font-family: Helvetica;
	font-weight: normal;
    fill: #000000;
}

g rect:hover {
	stroke-width: 3;
	stroke: #808080;
}

.DefaultInPort {
    stroke: #BCBCBC;
    fill: #FFFFFF;
    cx: 140.5;
    cy: 0;
    r: 7;
}

.DefaultOutPort {
    stroke: #BCBCBC;
    fill: #FFFFFF;
    cx: 140.5;
    cy: 51;
    r: 7;
}

.DefaultPath {
    stroke: #808080;
    stroke-width: 1px;
    fill: none;
}

.DefaultArrow {
    markerWidth: 14px;
    markerheight: 14px;
    markerUnits: strokeWidth;
    viewBox: 0 0 14 14;
    refX: 2;
    refY: 7;
    orient: auto;
    fill: #808080;
}


.DefaultHighlightRect {
    width: 281px;
    height: 51px;
    fill:#FFFFFF;
    x: 0;
    y: 0;
    rx: 10;
    stroke-linejoin: round;
    stroke-dasharray: 5 3;
    stroke: #82B53A;
}

svg {
    user-select: none;
}

#menu{
    width: 0; /*设置为0 隐藏自定义菜单*/
    height: 125px;
    overflow: hidden; /*隐藏溢出的元素*/
    box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
    position: absolute; /*自定义菜单相对与body元素进行定位*/
    text-align: center;
}

.menu{
    width: 125px;
    height: 25px;
    line-height: 25px;
    padding: 0px;
    background-color: #FFFFFF;   
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
}